/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
= =                                                                       = =
= =                                 START                                 = =
= =                                                                       = =
= =                                                                       = =
= =                               MY  RULES                               = =
= =                                                                       = =
= =                                                                       = =
= =                                                                       = =
= =                                                                       = =
= =                                                                       = =
   ========================================================================== */

/*~~~~~~~~~~~~~~~~~~ HEADER ~~~~~~~~~~~~~~~~~~*/

html,
body {
  overflow-x: hidden;
}

/* wrapper styles */
.wrapper1 {
  position: relative;
  min-height: 100vh;
}

/* small screens styles */
@media (max-width: 767px) {
  .sidebar1 {
    position: absolute;
    top: 0;
    width: 100vw;
    min-height: 100vh;
  }
  .wrapper1 {
    transform: translateX(0) translateZ(0);
    transition: transform .2s;
    will-change: transform;
  }

  /* Button deco */
  [class^="nav-button"] {
    display: block;
    z-index: 1;
    height: 3.5rem; width: 3.5rem;
    background-color: transparent;
    background-image: linear-gradient(to right, #333, #333),
      linear-gradient(to right, #333, #333),
      linear-gradient(to right, #333, #333);
    background-position: center top, center, center bottom;
    background-repeat: no-repeat;
    background-size: 3.5rem .9rem;
    padding: 0;
    outline: 0;
    border: 0;
    cursor: pointer;
    -webkit-tap-highlight-color:rgba(239,158,9,1);
;
  }

  /* here's goes the push left effect */
  body:target .wrapper1 {
    transform: translateX(100vw);
  }
  .nav-button-close,
  body:target .nav-button-open {
    display: none;
  }
  .nav-button-open,
  body:target .nav-button-close {
    display: block;
  }

} /* end of small screen media query */

/* Global deco */
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  margin: 0;
  padding: 0;
  color: #fff;
  font-size: 1.6em;
  font-family: arial, sans-serif;
}
a {
  color: #fff;
}
.wrapper1 {
  padding: 2rem;
  background-color: white;
  color: #333;
}
.sidebar1 {
  padding-top: 1em;
  background: rgba(239,158,9,1);
}
nav a {
  display: block;
  padding: .7em;
  text-decoration: none;
}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*~~~~~~~~~~~~~~~~~~  SYLVAIN   ~~~~~~~~~~~~~~~~~~*/
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/*FOOTER*/
/*@font-face {
font-family: 'Avenir LT Std 35 Light';
font-style: normal;
font-weight: normal;
src: local('../fonts/Avenir LT Std 35 Light'), url('../fonts/AvenirLTStd-Light.woff') format('woff');
}*/


footer {
  height: 380px;
  background-color: #f6f9f9;;
}

footer .row {
  height: 100%;
}

footer  a{
  color: black;
}

.footerLeft {
  background-color: white;
  margin: auto;
  height: 100%;
}

/* label color */
.input-field input[type=email] + label {
 color: #18E2BF;
 font-size: 1.5em;
 font-weight: bold;
}
/* label underline color */
.input-field input[type=email] {
 border-bottom: 1px solid #18E2BF;
 box-shadow: 0 1px 0 0 #18E2BF;
 font-size: 1.5em;
 color: #18E2BF;
 max-width: 435px;
 padding: 0 0 10px 0;
 /*background-color: black*/
}
/* label focus color */
.input-field input[type=email]:focus + label {
 color: #7c8a96;
 font-size: 1em;
 font-weight: bold;
}
/* label underline focus color */
.input-field input[type=email]:focus {
 border-bottom: 1px solid #18E2BF;
 box-shadow: 0 1px 0 0 #18E2BF;
}


   /* ==========================================================================
   = =                                                                       = =
   = =                                  END                                  = =
   = =                                                                       = =
   = =                                                                       = =
   = =                               MY  RULES                               = =
   = =                                                                       = =
   = =                                                                       = =
   = =                                                                       = =
   = =                                                                       = =
   = =                                                                       = =
      ========================================================================== */




/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
